<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
          
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=e3256972-0755-4a56-a87e-e0ab051186ab"
    type="text/javascript"></script>
    
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="navbar sticky-top navbar-expand-md navbar-light bg-light">
      <div class="container">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('app.profile'), current_user, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('app.signout'), destroy_user_session_path,
                              method: :delete,
                              class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('app.sign_in'), new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('app.sign_up'),
                              new_user_registration_path,
                              class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container flex-grow-1">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="mt-3">
      <div class="container">
        <p>&copy; <%= t('app.company') %> <%= Time.now.year %></p>
      </div>
    </footer>
  </body>
</html>
